<div class="d-flex justify-content-center align-items-center">
  <h1 class="">{{title}}</h1>
</div>

<div *ngIf="!winner">
  <p>Current player: {{ currentPlayer.value }}</p>
</div>
<div *ngIf="winner">
  <p>Winner: {{ winner.value}}</p>
</div>

<div class="d-flex justify-content-center align-items-center">
<table [cellPadding]="10" [cellSpacing]="10">
<tr *ngFor="let row of board; let i = index">
  <td *ngFor="let cell of row; let j = index" (click)="makeMove(i, j)">
    {{ cell?.value }}
  </td>
</tr>
</table>
</div>